net "clk" Loc="E12";
net "reset" loc="V8";
net "hsync" loc="C11";
net "vsync" loc="B11";
net "rgb<0>" loc="C7";
net "rgb<1>" loc="D7";
net "rgb<2>" loc="B9";
net "rgb<3>" loc="C9";
net "rgb<4>" loc="C5";
net "rgb<5>" loc="D5";
net "rgb<6>" loc="C6";
net "rgb<7>" loc="D6";
net "rgb<8>" loc="A3";
net "rgb<9>" loc="B3";
net "rgb<10>" loc="B8";
net "rgb<11>" loc="C8";
net "up" loc="T14";
net "down" loc="T15";
net "right" loc="T16";
net "left" loc="U15";     